@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: CelestraHeroFont;
  src: url("./assets/Glitchinside.otf");
}
.celestraHeroFont {
  font-family: CelestraHeroFont;
}

::-moz-selection {
  color: red;
  background: white;
}

::selection {
  color: red;
  background: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
}


@keyframes pulse {
    50% {
        opacity: .2;
    }
}
.animate-pulse {
    animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}