@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


/* 
For firefox
::-moz-selection {
  color: red;
  background: none;
}

::selection {
  color: red;
  background: none;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
